{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INDOOR</title>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  
  <link href="{% static '/appindoor1/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/appindoor1/css/style.css' %}" rel="stylesheet">
  
  
  

</head>

<body>
  <!--NAVBAR-->
  <nav class="navbar navbar-expand-sm" style="background-color:#ffc107  ; ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'appindoor1/img/dr.jpeg' %}" alt="" width="100px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toogle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse nav justify-content-end" id="navbarNav">
        <ul class="nav justify-content-end">
          <li class="nav-item"><a class="nav-link" href="{% url 'appindoor1:home' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'appindoor1:indoor' %}">Indoor</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'appindoor1:configuracion' %}">Configuracion</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'appindoor1:servicio' %}">Servicios</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--DASHBOARD-->
  {% block --DASHBOARD-- %}
  {% endblock %}
  <!--INDOOR-->
  {% block --INDOOR-- %}
  {% endblock %}
  <!--CONFIGURACION-->
  {% block --CONFIGURACION-- %}
  {% endblock %}
  <!--FOOTER-->

  <!-- Production version -->

</body>

  
  <script src="{% static '/appindoor1/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'appindoor1/js/jquery-3.6.0.min.js' %}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
  {% if messages %}
    {% for m in messages %}
      <script>
        Swal.fire({
          "title": "Felicitaciones",
          "text": "{{m}}",
          "icon": "success"
        })
      </script>
    {% endfor %}
  {% endif %}
  
  {% block js%}
  {% endblock %}
  
</html>